* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media (max-width: 375px){
    .headline_container h1{
        font-size: 50px;
        margin: 50px 0 17px 16px;
    }

    .headline_container p{
        margin-left: 16px;
        margin-bottom: 22px;
    }

    .headline_container button{
        padding: 12px 42.32px 11.53px 42px;
        margin: 22px 14px 32.31px 16px;
    }

    .title h2{
        font-size: 50px;
        margin-left: 16px;
        margin-bottom: 32px;
    }

    .cards{
        display: flex;
        flex-direction: column;
      }

    .card{
        display: flex;
        flex-direction: column;
        background: #1a2236;
    }

    .card_img{
        margin-top: -1px;
    }

    .card h4{
        font-size: 20px;
        margin: 20px 36px 16px 20px;
    }

    .card ul li{
        font-size: 10.3334px;
        padding: 6px 10px;
    }

    .btn a{
        font-size: 16px;
        padding: 10px 44px 10px 10px;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .about_me{
        display: flex;
        flex-direction: column;
    }

    .about_me h2{
        font-size: 50px;
        margin-left: 16px;
        margin-top: 40px;
    }

    .about_me p{
        font-size: 14px;
        margin: 20px 0 20px 16px;
    }

    .btn_1 a{
        font-size: 16px;
    }

    .rectangle h3{
        font-size: 20px;
    }

    .rectangle ul li{
        font-size: 18px;
    }

    .contact_form h2{
        font-size: 50px;
       margin: 106px 53px 18px 20px;
    }

    .contact_form p{
        font-size: 14px;
        margin-left: 18px;
        margin-right: 14px;
        margin-bottom: 32px;
    }
    
    .form ul li label{
        font-size: 10px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .link a{
        font-size: 16px;
    }

    .social_icons ul li{
        margin-top: 32px;
    }
        
    
  }

  @media (min-width: 376px) and (max-width: 768px) {
    .headline_container h1{
        font-size: 80px;
        margin: 104px 0 25px 80px;
    }

    .headline_container p{
        margin-left: 80px;
        margin-bottom: 27px;
    }

    .headline_container button{
        margin: 22px 50px 32.31px 80px;
        width: 254px;
        height: 70px;
    }

    .title h2{
        font-size: 60px;
        margin-left:80px;
        margin-bottom: 32px;
    }
    .cards{
        display: flex;
        flex-direction: column;
      }

    .card{
        display: flex;
        flex-direction: column;
        background: #1a2236;
    }

    .card_img{
        margin-top: -2px;
    }

    .card h4{
        font-size: 30px;
        margin: 30px 41px 25px 25px;
    }

    .card ul li{
        font-size: 15px;
        padding: 10px 14px;
        margin-bottom: 10px;
    }

    .btn a{
        font-size: 20px;
        padding: 14px 48px 14px 14px;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .about_me{
        display: flex;
        flex-direction: column;
    }

    .about_me h2{
        font-size: 70px;
        margin-left: 26px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .about_me p{
        font-size: 14px;
        margin: 20px 0 30px 16px;
    }

    .btn_1 a{
        font-size: 26px;
    }

    .rectangle h3{
        font-size: 25px;
    }

    .rectangle ul li{
        font-size: 20px;
    }

    .contact_form h2{
        font-size: 60px;
       margin: 106px 53px 30px 60px;
    }

    .contact_form p{
        font-size: 14px;
        margin-left: 60px;
        margin-right: 14px;
        margin-bottom: 32px;
    }

    .form{
        margin-left: auto;
        margin-right: auto;
    }
    
    .form ul li label{
        font-size: 14px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .link a{
        font-size: 40px;
    }

    .social_icons ul li{
        margin-top: 42px;
    }

  }

  @media (min-width: 769px){
    .headline_container h1{
        font-size: 110px;
        margin: 192px 0 46px 160px;
    }

    .headline_container p{
        margin-left: 160px;
        margin-bottom: 52px;
    }

    .headline_container button{
        padding: 21.76px 25.16px;
        margin-left: 160px;
        width: 254px;
        height: 70px;
    }

  }

body{
  font-family: 'Playfair Display' 'Poppins' ;
  display: flex;
  flex-direction: column;
  gap: 20%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headline{
  width: 100%;
}

.headline_container{
  display: flex;
  flex-direction: column;
}

.headline_container h1{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
}

.headline_container p{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.headline_container button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
}

.headline_container button:hover{
  background: #fff;
  color: #1a2236;
}

.headline_container button:active{
  background: #fff;
  color: #1a2236;
  border: 2px solid black;
}

.title h2{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
}

.cards{
  width: 100%;
}

.card h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  color: #fff;
}

.card_img{
  max-width: 100%;
}

.card ul{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card ul li{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  color: #1a2236;
  background: #98dede;
  list-style-type: none;
}

.card ul li:hover{
  background: #1a2236;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.btn{
  display: flex;
  background: #1a2236;
  margin-left: 20px;
  margin: 0 122px 20px 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn:hover{
  background: #fff;
}

.btn:active{
  border: 2px solid #fff;
}

.btn a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.btn a:hover{
  color: #1a2236;
}

.btn img{
  vertical-align: middle;
}

.about_me h2{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
}

.about_me p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #1a2236;
}

.btn_1{
  margin: 0 13px 20px 15px;
  background: #1a2236;
  padding: 13px 123px 13px 79px;
}

.btn_1 a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.rectangle{
  display: flex;
  flex-direction: column;
  margin: 0 14px 20px 16px;
  padding-bottom: 40px;
}

.rectangle h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    color: #fff;
    margin-left: 50px;
    margin-top: 50px;
}

.rectangle ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.0525em;
    color: #fff;
    padding-top: 10px;
    margin-left: 66px;
}

.blue{
    background: #1c528a;
}

.pink{
    background: #e2505c;
}

.yellow{
    background: #febf52;
}

.contact_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f9f9fa;
}

.contact_form h2{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
line-height: 100%;
color: #1a2236;
}

.contact_form p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.01em;
color: #1a2236;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 14px;
}

.form ul li{
    display: flex;
    flex-direction: column;
}

.form ul li label{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
color: #7d7c84;
}

.form ul li input {
    padding: 23px 198px 8px 16px;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-top: 23px;
    padding-left: 16px;
  }
  
  .form ul li input[type=text] {
    padding-bottom: 8px;
  }
  
.form ul li #email {
    border: 1px solid #1a2236;
  }
  
.form ul li textarea {
    padding: 14px 88px 77px 16px;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-top: 14px;
    padding-left: 16px;
}

.btn_2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #1a2236;
    padding: 10px 68px 10px 69px;
    margin-bottom: 31px;
}

.btn_2:hover{
    background: #fff;
    color: #1a2236;
}

.btn_2:active{
    border: 2px solid black;
}

.footer{
    width: 100%;
    background: #1a2236;
    padding: 28px 14px 36px 18px;
}

.link{
    margin: 0 auto;
    text-align: center;
}

.link a{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #92dcdc;
text-decoration: none;
}

.social_icons ul{
    display: flex;
    justify-content: space-between;
}

.social_icons ul li{
    list-style-type: none;
    margin-top: 32px;
}