@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body,
h4,
ul,
img {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 318px;
  margin: 0 auto;
  background: #fff;
}

/* Header Style */

.header {
  width: 318px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-img {
  background-image: url("./images/image_geometry_1.svg");
  background-repeat: no-repeat;
  width: 111px;
  height: 74px;
}

.header img {
  margin-right: 14px;
}

/* Headline Style */

.headline {
  display: flex;
  flex-direction: column;
}

.headline h1 {
  font-family: "Playfair Display", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 17px;
}

.headline p {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 16px;
  margin-top: 0;
}

.headline-img {
  background-image: url("./images/image_geometry_2.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 160px;
}

/* Button Style */

.btn {
  width: 288px;
  height: 50px;
  margin-left: 16px;
  margin-bottom: 30px;
  font-family: "Poppins", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background-color: #1a2236;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #1a2236;
}

/* Portfolio Style */

#portfolio h1 {
  font-family: 'Playfair Display', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 32px;
}

/* Start Grid */

.projects.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.projects-item {
  background:
    linear-gradient(0deg, #1a2236, #1a2236),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  grid-column: span 12;
  height: 355px;
}

.projects-item img {
  max-width: 100%;
  margin-top: -1px;
}

/* End Grid */

.projects-item h4 {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  margin: 5px 36px 5px 20px;
}

.projects-item ul {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.projects-item ul li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 10.3334px;
  background: #98dede;
  color: #1a2236;
  text-align: center;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.form ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  margin-left: 18px;
}

.social-icons ul li {
  list-style-type: none;
}

.projects-item ul li:hover {
  background: #1a2236;
  color: #fff;
}

/* Portfolio button style */

.project-button {
  width: 178px;
  background: #1a2236;
  border: 1px solid #fff;
  margin-left: 20px;
  padding: 10px 10px;
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
}

.project-button:hover {
  transform: scale(1.1);
}

.project-button img {
  vertical-align: middle;
  margin-left: 10px;
}

/* About Section Style */

#about {
  margin-bottom: 30px;
}

#about h1 {
  font-family: 'Playfair Display', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 20px;
}

#about p {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 20px;
}

.btn-two {
  width: 288px;
  height: 50px;
  background: #1a2236;
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin: 5px 16px;
}

.btn-two img {
  margin-left: 20px;
  vertical-align: middle;
}

.languages {
  width: 289px;
  height: 289px;
  background: #1c528a;
  margin-left: 16px;
}

.languages h3 {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-left: 50px;
  padding-top: 50px;
}

.languages ul {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
  color: #fff;
  margin-left: 66px;
}

.languages-img {
  background-image: url("./images/ic_languages_mob.svg");
  background-repeat: no-repeat;
  width: 102px;
  height: 102px;
  position: absolute;
  top: 3402px;
  margin-left: 187px;
}

.frameworks {
  width: 289px;
  height: 289px;
  background: #e2505c;
  margin-left: 16px;
}

.frameworks h3 {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-left: 50px;
  padding-top: 50px;
}

.frameworks ul {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
  color: #fff;
  margin-left: 66px;
}

.frameworks-img {
  background-image: url("./images/ic_framework.svg");
  background-repeat: no-repeat;
  width: 96px;
  height: 96px;
  margin-left: 193px;
}

.skills {
  width: 289px;
  height: 340px;
  background: #febf52;
  margin-left: 16px;
}

.skills h3 {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-left: 50px;
  padding-top: 50px;
}

.skills ul {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
  color: #fff;
  margin-left: 66px;
}

.skills-img {
  background-image: url("./images/ic_skills.svg");
  background-repeat: no-repeat;
  width: 102px;
  height: 102px;
  margin-left: 187px;
}

/* Contact Form Style */

#contact-form {
  background: #f9f9fa;
  width: 320px;
  height: 631px;
}

.contact-form-img {
  background-image: url("./images/image_geometry_1.svg");
  background-repeat: no-repeat;
  width: 111px;
  height: 74.02px;
}

#contact-form h1 {
  font-family: 'Playfair Display', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-left: 18px;
  margin-bottom: 0;
}

#contact-form p {
  font-family: 'Poppins', "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 18px;
}

.form ul li input {
  width: 288px;
  height: 52px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  margin-bottom: 5px;
}

.form ul li #email {
  border: 1px solid #1a2236;
}

.form ul li textarea {
  width: 288px;
  height: 112px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form ul li input::placeholder {
  color: #1a2236;
  padding-left: 16px;
}

.form ul li textarea::placeholder {
  padding-left: 16px;
  padding-top: 10px;
}

/* Footer Style */

.footer {
  width: 318px;
  height: 137px;
  background: #1a2236;
}

.footer .link a {
  color: #92dcdc;
  margin-top: 28px;
  margin-left: 79px;
  text-decoration: none;
}

.footer .link img {
  margin-left: 10px;
  margin-top: 23px;
}

.social-icons ul {
  display: flex;
  gap: 28px;
  margin-left: 18px;
  margin-top: 30px;
}
